$colorColorsNeutral00: #ffffff;    
$colorColorsTheme01: #df7b3b;    
$colorColorsTints03: #f7f9f7;    
$colorColorsNeutral02: #f1f1f1;    
$colorColorsTints02: #eeefec;    
$colorColorsNeutral03: #d6d6d6;    
$colorColorsNeutral04: #5a5753;    
$colorColorsNeutral05: #4a4a4a;    
$colorColorsTheme02: #3f754a;    
$colorColorsNeutral01: #f9f7f9;    
$colorColorsTints01: #e4e9dc;    
$colorColorsSurfacesSurfaceBrand: $colorColorsTheme01;    
$colorColorsTextTextDark: $colorColorsNeutral05;    
$colorColorsTextTextBrand: $colorColorsTheme01;    
$colorColorsTextTextBrandAccent: $colorColorsTheme02;    
$colorColorsSurfacesSurfaceNeutral: $colorColorsNeutral02;    
$colorColorsTextTextTint: $colorColorsTints01;    
$colorColorsSurfacesSurfaceTint: $colorColorsTints03;    
$colorColorsBordersBorderDark: $colorColorsNeutral05;    
$colorColorsBordersBorderMedium: $colorColorsNeutral04;    
$colorColorsBordersBorderLight: $colorColorsNeutral03;    
$colorColorsBordersBorderLightest: $colorColorsNeutral01;    
