$measureFontSizeFontSizeLg: 28px;    
$measureFontSizeFontSizeXxl: 68px;    
$measureFontSizeFontSizeXl: 40px;    
$measureFontSizeFontSizeMd: 24px;    
$measureFontSizeFontSizeXs: 13px;    
$measureFontSizeFontSizeSm: 16px;    
$measureDimensionFontLineHeightLg: 27px;    
$measureDimensionFontLineHeightXl: 33px;    
$measureDimensionFontLineHeightSm: 16px;    
$measureDimensionFontLineHeightXs: 13px;    
$measureDimensionFontLineHeightMd: 23px;    
$measureDimensionFontLineHeightXxl: 68px;    
$measureDimensionMeasuresMeasureX1: 8px;    
$measureDimensionMeasuresMeasureX2: 16px;    
$measureDimensionMeasuresMeasureX3: 24px;    
$measureDimensionMeasuresMeasureX4: 32px;    
$measureDimensionMeasuresMeasureX5: 36px;    
$measureDimensionMeasuresMeasureX6: 40px;    
$measureDimensionMeasuresMeasureX7: 48px;    
$measureDimensionMeasuresMeasureX8: 56px;    
$measureDimensionMeasuresMeasureX9: 64px;    
$measureDimensionMeasuresMeasureX10: 72px;    
$measureDimensionMeasuresMeasureX11: 96px;    
$measureFontSizeFontSizeSt: 20px;    
$measureDimensionWidths00: 328px;    
$measureDimensionWidths01: 360px;    
$measureDimensionWidths02: 1320px;    
$measureDimensionWidths03: 1440px;    
$measureDimensionWidths04: 2560px;    
$measureLineHeightFontLineHeightXs: 16px;    
$measureLineHeightFontLineHeightSm: 24px;    
$measureLineHeightFontLineHeightSt: 32px;    
$measureLineHeightFontLineHeightMd: 36px;    
$measureLineHeightFontLineHeightLg: 44px;    
$measureLineHeightFontLineHeightXl: 48px;    
$measureLineHeightFontLineHeightXxl: 56px;    
$measureLineHeightFontLineHeightXxxl: 92px;    
$measureSpaceSpacingGapsHorizonalGapHorizontalPacked: $measureDimensionMeasuresMeasureX1;    
$measureSpaceSpacingGapsHorizonalGapHorizontalTight: $measureDimensionMeasuresMeasureX2;    
$measureSpaceSpacingGapsHorizonalGapHorizontalStandard: $measureDimensionMeasuresMeasureX3;    
$measureSpaceSpacingGapsVerticalGapVerticalPacked: $measureDimensionMeasuresMeasureX1;    
$measureSpaceSpacingGapsVerticalGapVerticalSlim: $measureDimensionMeasuresMeasureX3;    
$measureSpaceSpacingGapsVerticalGapVerticalStandard: $measureDimensionMeasuresMeasureX4;    
$measureSpaceSpacingGapsVerticalGapVerticalLarge: $measureDimensionMeasuresMeasureX9;    
$measureSpaceSpacingPaddingPaddingPacked: $measureDimensionMeasuresMeasureX1;    
$measureSpaceSpacingPaddingPaddingTight: $measureDimensionMeasuresMeasureX2;    
$measureSpaceSpacingPaddingPaddingSlim: $measureDimensionMeasuresMeasureX3;    
$measureSpaceSpacingPaddingPaddingStandard: $measureDimensionMeasuresMeasureX4;    
$measureSpaceSpacingPaddingPaddingSpacious: $measureDimensionMeasuresMeasureX9;    
$measureSpaceSpacingPaddingPaddingHuge: $measureDimensionMeasuresMeasureX11;    
$measureSizeWidthsLayoutLayoutContainerDesktop: $measureDimensionWidths02;    
$measureSizeWidthsLayoutLayoutContainerMobile: $measureDimensionWidths00;    
$measureSizeWidthsViewportsViewportMobile: $measureDimensionWidths01;    
$measureSizeWidthsViewportsViewportDesktop: $measureDimensionWidths03;    
$measureBorderRadiusRadiiRadius01: $measureDimensionMeasuresMeasureX1;    
