
.typographyDesktopRgXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopMdMd 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureDimensionMeasuresMeasureX3;
  line-height: $measureLineHeightFontLineHeightSt;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopRgLg 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeLg;
  line-height: 44px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopBdXl 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeXl;
  line-height: $measureLineHeightFontLineHeightXl;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopRgXxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeXxl;
  line-height: $measureLineHeightFontLineHeightXxxl;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopRgSm 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopMdXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileRgXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeXs;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileMdXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeXs;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileRgSm 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeSm;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileMdMd 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeSt;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileRgLg 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeSt;
  line-height: $measureDimensionMeasuresMeasureX4;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileBdXl 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeLg;
  line-height: $measureLineHeightFontLineHeightLg;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileRgXxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeXl;
  line-height: $measureLineHeightFontLineHeightXxl;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopRgXxs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopMdXsUpper 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeXs;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 1.3px;
  
  text-indent: 0px; 
}    

.typographyDesktopMdSm 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeSm;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopRgMd 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeMd;
  line-height: $measureLineHeightFontLineHeightMd;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyDesktopRgXxxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyMobileRgXxxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopMdMd 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureDimensionMeasuresMeasureX3;
  line-height: $measureLineHeightFontLineHeightSt;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgLg 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeLg;
  line-height: 44px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopBdXl 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeXl;
  line-height: $measureLineHeightFontLineHeightXl;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgXxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeXxl;
  line-height: $measureLineHeightFontLineHeightXxxl;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgSm 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopMdXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileRgXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeXs;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileMdXs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeXs;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileRgSm 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeSm;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileMdMd 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeSt;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileRgLg 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeSt;
  line-height: $measureDimensionMeasuresMeasureX4;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileBdXl 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeLg;
  line-height: $measureLineHeightFontLineHeightLg;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileRgXxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeXl;
  line-height: $measureLineHeightFontLineHeightXxl;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgXxs 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopMdXsUpper 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeXs;
  line-height: $measureLineHeightFontLineHeightXs;
  letter-spacing: 1.3px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopMdSm 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeSm;
  line-height: $measureLineHeightFontLineHeightSm;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgMd 
{ 
  
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeMd;
  line-height: $measureLineHeightFontLineHeightMd;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopRgXxxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyMobileRgXxxl 
{ 
  
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

